phase1/lucene_step/index/*
phase1/search_doc/search_doc
phase1/search_doc/validate.txt
phase1/search_doc/vidlist.txt
phase1/latest.txt
phase1/longest.txt
phase2/create_clusters/convert
phase2/create_clusters/convert_table.txt
phase2/create_clusters/gen_cluster
phase2/create_clusters/log.out
phase2/create_clusters/cluster/*
phase2/lucene_step/binary_index_gen
phase2/lucene_step/index_search
phase2/search_doc/search_doc
phase2/outputTestCluster
phase2/vidlistC.txt
optionTestCluster_vector